.vertical-list, .horizontal-list { display: flex; }

.vertical-list { flex-direction: column; }

.horizontal-list { flex-direction: row; }

.gap-2mm { gap: 2mm; }

.gap-4mm { gap: 4mm; }

.margin-2mm { margin: 2mm; }

.margin-4mm { margin: 4mm; }

.flex-center { justify-content: center; }

.flex-align-center { align-items: center; }

.center { text-align: center; }

.left { text-align: left; }

.right { text-align: right; }