@import url('../colors.css');

.footer {
    width: 100vw;
    background-color: var(--footer-bg);
    display: flex;
    padding: 10mm 2mm 5mm 2mm;
}

@media (max-width:800px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (prefers-color-scheme: light) {
    img.footer-logo-instagram,
    img.footer-logo-twitter {
        filter: invert(1);
    }
}