@import url("../colors.css");

header {
  width: 100vw;
  background-color: var(--header-bg);
  position: relative;
  margin-bottom: 3.125em;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 0.5em 0.2em var(--header-shadow);
  transition-property: top;
  transition-duration: 120ms;
  overflow: clip;
}

header.collapsed {
  top: -6em;
}

.hamburger-menu {
  margin: 0.4125em;
}

header {
  div.logo-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
    overflow: hidden;

    img {
      margin: 0.8em;
    }
  }

  /* Header links */

  div.header-link-container {
    padding: 1em 1.3125em;
    gap: 2em;

    a.header-link {
      text-decoration: none;

      i {
        margin-bottom: 0.1em;
      }
    }
  }

  a.header-link span {
    text-shadow: 0px 0px 30px var(--header-shadow);
  }

  a.header-link * {
    vertical-align: middle;
  }

  a.header-link > *:first-child {
    margin-right: 0.375em;
  }

  a.header-link:hover span {
    text-decoration: underline;
  }

  img.app-badge {
    max-width: 7em;
    height: auto;
  }
}
