p.title {
    text-wrap-mode: wrap;
}

p.section-title {
    margin-bottom: .25em;
}

div.options-list {
    margin-bottom: .5em;
}

div.options-list a:active {
    color: var(--highlight);
}

a.change-mode {
    padding: 0.3125em;
    text-decoration: underline;
}

div.page,
div.room-container,
div.user-list {
    padding: 0.625em;
    margin: 0 auto;
}

div.hotel-container {
    padding: 0.625em;
}

div.room-type-container,
div.room-guests {
    padding: 0.625em 3em;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    div.room-type-container,
    div.room-guests {
        padding: 0.625em .625em;
    }
}
