@import url('../colors.css');

button.button {
    background: var(--button-bg-normal);
    border: 1px solid var(--button-border-normal);
    min-height: 1.625em;
    padding: 0.375em 0.4375em;
    display: flex;
    gap: 0.5em;
}

button:disabled {
    color: var(--foreground);
}

button.button:hover:not(:disabled) {
    background: var(--button-bg-hover);
}

button.button:active:not(:disabled) {
    background: var(--button-bg-down);
    border: 1px solid var(--button-border-down);
}

button.danger {
    background: var(--button-danger-bg-normal);
}

button.danger:hover:not(:disabled) {
    background: var(--button-danger-bg-hover);
}

button.danger:active:not(:disabled) {
    background: var(--button-danger-bg-down);
}