@import url('../colors.css');

input.input-field {
    background: var(--text-input-bg);
    border: 1px solid var(--text-input-border-normal);
    color: var(--text-input-color);
    min-height: 1.625em;
    padding: 0.375em 0.4375em;
    display: flex;
    gap: 0.5em;
}

input:disabled {
    color: var(--text-input-color-disabled);
    border-color: var(--text-input-border-disabled);
}

input.input-field:hover:not(:disabled) {
    /* color: var(--text-input-border-disabled);
    border-color: var(--text-input-border-disabled); */
}

input.input-field:focus:not(.danger) {
    border: 2px solid var(--text-input-border-normal);
    outline: none;
}

input.danger {
    border: 1px solid var(--text-input-danger-normal);
    outline: none;
}
input.danger:focus {
    border: 2px solid var(--text-input-danger-normal);
    outline: none;
}

input.danger:hover:not(:disabled) {
    /* background: var(--text-input-danger-hover); */
}

input.danger:active:not(:disabled) {
    /* background: var(--text-input-danger-down); */
}