@import url('../colors.css');

.statusBox {
    border-radius: 5px;
    height: 22px;
    width: 104px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.statusBox.room {
    background-color: var(--status-box-bg-room);
    height: 26px;
    width: 106px;
}

.statusBox.year {
    background-color: var(--status-box-bg-year);
}

.statusBox.open {
    background-color: var(--status-box-bg-open);
}

.statusBox.pending {
    background-color: var(--status-box-bg-pending);
}

.statusBox.rejected {
    background-color: var(--status-box-bg-rejected);
}