div.upload-container {
    width: fit-content;
    padding: 0.625em;
    background-color: var(--upload-bg);

    * {
        width: 100%;
    }

    div.image-container {
        border: 2px solid var(--upload-border);
    }

    div.image-container.danger {
        border-color: var(--upload-border-danger);
    }

    img.upload-picture {
        display: block;
    }
}

.suppressed-input {
    max-width: 0px;
    max-height: 0px;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}

.suppressed-input * {
    visibility: collapse;
}

label.upload-label {
    margin-left: 0.125em;
    display: inline-block;
}

div.crop-container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

div.crop-container > * {
    margin-top: 2em;
    margin-bottom: 2em;
    outline: 2px solid var(--upload-border);
}

.crop-image {
    align-items: center;
    height: max-content;
    width: max-content;
    max-width: 80vw;
    max-height: 60vh;
}

.crop-canvas {
    position: absolute;
}