@import url('../colors.css');

p.user-dropdown {
    position: relative;
    padding: 0.1875em;
    user-select: none;
}

p.user-dropdown:not(:has(.dropdown-container.open)):hover,
p.user-dropdown .dropdown-container a:hover {
    background-color: var(--user-dropdown-hover-bg);
}

p.user-dropdown:has(.dropdown-container.open),
.dropdown-container a{
    background-color: var(--user-dropdown-selected-bg);
}

p.user-dropdown .dropdown-container {
    position: absolute;
    display: none;
    margin-top: 25mm;
}

p.user-dropdown span.nickname {
    margin-right: 0.3125em;
}

p.user-dropdown .dropdown-container.open {
    display: block;
}

p.user-dropdown .dropdown-container a {
    padding: 0.625em 2em 0.625em 0.625em;
    margin-left: -0.1875em;
}
