.main-dialog {
    width: 95vw;
    max-width: 95vw;
    transition: width 120ms;

    &:not(:has(.stretch-page)) {
        width: 210mm;
    }

    &:has(.stretch-page.compact-main) {
        width: fit-content;
        min-width: min(95vw, 210mm);
        max-width: 95vw;
    }
}

.furpanel-table-container {
    overflow: hidden;
    background-color: var(--table-bg);
    padding: 0.625em;
}

span:has(.hamburger),
.hamburger {
    display: none;
}

@media (max-width:800px) {

    span:has(.hamburger),
    .hamburger {
        display: block;
        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
    }

    .hamburger {
        padding: .3125em;
    }

    .hamburger:active {
        background-color: var(--tool-link-hambuger-hover-bg);
    }

    .main-dialog {
        min-width: 100vw;

        &:has(.stretch-page.compact-main) {
            width: 95vw;
            min-width: 95vw;
            max-width: 95vw;
        }

        .tools-list {
            transition-duration: 120ms;
            width: 100%;
        }

        .tools-list:not(.expanded) .tool-link:not(.active) {
            max-height: 0px;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            background: none;
            border: none;
        }

        .tools-list:not(.expanded) {
            gap: 0px;
        }
    }

    .tools-list {
        flex-direction: column;
    }
}