:root {
    --file-picker-background: #49aee93b;
}

.gallery-file-picker {
    padding: .5em;
    outline: 1px solid var(--button-border-normal);
    background: var(--file-picker-background);
    transition-property: background;
    transition-duration: 100ms;

    &.hover {
        outline-style: dashed;
        outline-width: 3px;
        background: color-mix(var(--file-picker-background), #888);
        background-blend-mode: multiply;
    }

    .prompt {
        width: fit-content;
        height: 6em;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {}

@media (prefers-color-scheme: dark) {
    :root {
        --file-picker-background: #53287e3b;
    }
}