:root {
    --icon-shadow: white;
    --grid-column-count: 5;
    --grid-column-width: 140px;
}

@media screen and (max-width: 800px) {
    :root {
        --grid-column-width: 120px;
    }
}

@media screen and (max-width: 650px) {
    :root {
        --grid-column-count: 4;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --grid-column-width: 100px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --grid-column-count: 3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --icon-shadow: black;
    }
}

@keyframes ended {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        display: none;
        transform: scale(0);
        opacity: 0;
    }
}

.upload-panel {
    .upload-input-data {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    .upload-panel {
        .upload-input-data {
            flex-direction: column;
        }
    }
}

.uploads-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));
    justify-content: space-between;
    align-content: space-between;
    row-gap: 4mm;
    scrollbar-gutter: stable;

    .bottom-message {
        grid-column: span var(--grid-column-count);
        margin: 0 auto;
    }
}

.upload-status-box {
    &.ended {
        animation: ended 100ms ease-in 3000ms forwards;
    }

    img.thumbnail {
        filter: grayscale(.3) brightness(1.3) contrast(.6);
    }

    .error-icon,
    .aborted-icon {
        position: absolute;
        right: 0;
        margin: 1mm;
        z-index: 1;
        text-shadow: 0px 0px 10px var(--icon-shadow);
    }

    .circular-progress-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        z-index: 1;

        circle {
            transition: stroke-dashoffset 0.6s ease;
        }
    }

}