:root {
    --icon-shadow: white;
    --grid-column-count: 5;
    --grid-column-width: 140px;
    --col-w: 1fr;
    --upload-status-size: max(min(80px, 10vw), 60px);
    --upload-status-progress-size: calc(var(--upload-status-size) - 30px);
}

@media screen and (max-width: 650px) {
    :root {
        --grid-column-count: 4;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --grid-column-count: 3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --icon-shadow: black;
    }
}

@keyframes ended {
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    to {
        display: none;
        transform: translate(-200px, 0px);
        opacity: 0;
    }
}

.upload-panel {
    .upload-input-data {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    .upload-panel {
        .upload-input-data {
            flex-direction: column;
        }
    }
}

.upload-queue {
    transition: max-height 1000ms, opacity 1000ms;
    max-height: fit-content;
    opacity: 1;
    overflow: hidden;

    &:has(.container:empty) {
        max-height: 0px;
        opacity: 0;

        .container {
            padding: 0px;
            border: none;
        }
    }

    .container {
        transition: border 100ms, padding 200ms;
        border: 1px solid var(--button-border-normal);
        background: var(--file-picker-background);
        padding: 1em;
        overflow-y: scroll;
        scroll-behavior: smooth;
        gap: 2mm;
        max-height: calc((5 * (var(--upload-status-size) + 2mm)) + 2em);
    }
}

.medias-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-count), 1fr);
    gap: 4mm;

    .bottom-message {
        grid-column: span var(--grid-column-count);
        margin: 0 auto;
    }
}