:root {
    --icon-shadow: white;
    --grid-column-count: 5;
    --grid-column-width: 140px;
}

@media screen and (max-width: 800px) {
    :root {
        --grid-column-width: 120px;
    }
}

@media screen and (max-width: 650px) {
    :root {
        --grid-column-count: 4;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --grid-column-width: 100px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --grid-column-count: 3;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --icon-shadow: black;
    }
}

@keyframes ended {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        display: none;
        transform: scale(0);
        opacity: 0;
    }
}

.upload-panel {
    .upload-input-data {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    .upload-panel {
        .upload-input-data {
            flex-direction: column;
        }
    }
}

.upload-queue {
    outline: 1px solid var(--button-border-normal);
    background: var(--file-picker-background);
    padding: 0.250em;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 2mm;
    transition-property: max-height;
    transition-duration: 250ms;
    max-height: 180px;

    &:empty {
        max-height: 0px;
        padding: 0px;
        outline: none;
    }

    div {
        min-width: var(--grid-column-width);
    }
}

.uploads-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));
    justify-content: space-between;
    align-content: space-between;
    row-gap: 4mm;
    scrollbar-gutter: stable;

    .bottom-message {
        grid-column: span var(--grid-column-count);
        margin: 0 auto;
    }
}